@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);
}
@font-face {
  font-family: 'Montserrat';
  font-style: semi-bold;
  font-weight: 600;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap);
}

@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 500;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
}
@font-face {
  font-family: 'Montserrat';
  font-style: medium-italic;
  font-weight: 500;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@500&display=swap);
}
@font-face {
  font-family: 'Open Sans';
  font-style: semi-bold;
  font-weight: 600;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
}
@font-face {
  font-family: 'Open Sans';
  font-style: regular;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&:wght@400display=swap);
}





:root {
  --elements-color-primary: #EB5440;
  --elements-color-secondary: #4A4B4C;
  --elements-color-tertiary-1: #E8E8E8;
  --elements-color-tertiary-2: #C3C3C3;
  --elements-color-background-1: #F6F6F6;
  --elements-color-background-2: #FFF;
  
  --text-color-primary: #000;
  --text-color-secondary: #4A4B4C;
  --text-color-hyperlink: #067BC2;

  font-family: 'Montserrat', bold, semi-bold, medium, medium-italic;
  font-family: 'Open-Sans', semi-bold, regular;
}

:root {
  --color-background: var(--elements-color-background-2);

  --color-heading: var(--elements-color-background-1);

  --font-family-Montserrat-bold: 'Montserrat', bold;
  --font-family-Montserrat-semibold: 'Montserrat', semi-bold;
  --font-family-Montserrat-medium: 'Montserrat', medium;
  --font-family-Montserrat-mediumitalic: 'Montserrat', medium-italic;
  --font-family-OpenSans-semibold: 'Open-Sans', semi-bold;
  --font-family-OpenSans-regular: 'Open-Sans', regular;
}
h1 {
  font-family: var(--font-family-Montserrat-bold);
  font-size: 32px;
}

h2 {
  font-family: var(--font-family-Montserrat-bold);
  font-size: 22px;
}

header:active {
  font-family: var(--font-family-Montserrat-bold);
  font-size: 18px;
}

button,
.tabs {
  font-family: var(--font-family-Montserrat-bold);
  font-size: 18px;
}

.backbutton {
  font-family: var(--font-family-Montserrat-semibold);
  font-size: 16px;
}

.inputfieldtitle {
  font-family: var(--font-family-Montserrat-semibold);
  font-size: 14px;
}

header{
  font-family: var(--font-family-Montserrat-medium);
  font-size: 18px;
}

.emptystatemessage {
  font-family: var(--font-family-Montserrat-medium);
  font-size: 18px;
}

.errormessag {
 font-family: var(--font-family-Montserrat-mediumitalic);
 font-size: 14px;
}
.listinginformation {
  font-family: var(--font-family-OpenSans-semibold);
  font-size: 16px;
}

.inputfield {
  font-family: var(--font-family-OpenSans-regular);
  font-size: 14px;
}

body {
  font-family: var(--font-family-OpenSans-regular);
  font-size: 18px;
  background: var(--color-background);
}
